body {
	font-family: 'Open Sans', sans-serif;
	max-width: 850px;
	font-weight: 300;
	margin-left: auto;
	margin-right: auto;
}


.h1 {
	color: red;
}

.betterdressed {
	font-weight: 400;
	font-size: 1.5em;
}



p::first-letter {
	font-size: 4em;
	color: #686969;
	margin-right: 10px;
	margin-top: -19px;
	margin-bottom: -24px;
	float: left;

}

.date {
	color: rgb(204,204,204);
	font-size: 2.0em;
	font-weight: 300;
}

.title {
	color: rgb(3,3,3);
	font-size: 2em;
	font-weight: 300;
}

.nav {
	display: inline;
}

.redtitle {
	font-size: 3em;
	color: rgb(220,62,56);
	font-weight: 300;
}

/*.hr {
	margin-top: 15px;
}*/

.nav {
	color: rgb(204,204,204);
	font-size: 1.5em;
	font-weight: 300;
}

a {
	color: rgb(204,204,204);
	font-weight: 500;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-decoration: none;
	margin-right: 10px;

}

p {
	font-size: 1.4em;
}

.linkright {
	color: rgb(220,62,56);
	margin-bottom: 20px;
	float: right;
	right: 0px;
	border-bottom-style: none;
	margin-top: 40px;
	font-weight: 600;
}

.article {
	border-bottom: 2px solid grey;
	max-width: 800px;
}

hr {
	margin-top: 80px;
	margin-bottom: 20px;
}

.foot {
	color: rgb(220,62,56);
	border-bottom-style: none;
}

.footlinks {
	margin-top: 40px;
	font-weight: 300;
}

footer {
	color: rgb(204,204,204);
	margin-top: 30px;
}